/* Default Dark Mode */
body {
  background-color: #121212;
  color: #ffffff;
  --card-bg: #1e1e1e;
  --text-color: #ffffff;
  --border-color: #333333;
  --icon-bg: #c4b5fd;
  --icon-color: #ffffff;
}

/* Light Mode */
body.light {
  background-color: #ffffff;
  color: #000000;
  --card-bg: #ffffff;
  --text-color: #000000;
  --border-color: #e0e0e0;
  --icon-bg: #a78bfa;
  --icon-color: #ffffff;
}

.vertical-timeline-element-content {
  background-color: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  transition: background-color 0.3s, color 0.3s;
}

.vertical-timeline-element-icon {
  background-color: var(--icon-bg);
  color: var(--icon-color);
  transition: background-color 0.3s, color 0.3s;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--card-bg);
  color: var(--text-color);
}

a {
  color: --icon-bg;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  color: --icon-bg;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--text-color);
    background: var(--card-bg);
  }
}

.divTable {
  display: table;
  width: 100%;
}

.divTableRow {
  display: table-row;
}

.divTableCell, .divTableHead {
  border: 1px solid #333;
  padding: 8px;
}

.divTableHeading {
  background-color: #333;
  font-weight: bold;
}

@import 'highlight.js/styles/atom-one-dark.css';

pre {
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  color: var(--text-color);
}

code {
  font-family: 'Fira Code', monospace;
}

.hljs-keyword {
  color: #c678dd;
}

.hljs-string {
  color: #98c379;
}

.hljs-number {
  color: #d19a66;
}

.hljs-comment {
  color: #5c6370;
}

.hljs-variable {
  color: #e06c75;
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--card-bg);
  color: var(--text-color);
  border-top: 1px solid var(--border-color);
  width: 100%;
  font-size: 1rem;
  text-align: center;
  position: relative;
}

footer a {
  color: inherit; /* Ensures link colors inside the footer inherit the footer color */
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  text-decoration: underline;
  color: #1a73e8; /* Changes link color on hover */
}