html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

a {
  color: #b200f3;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  color: #b200f3;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e5e5e5;
    background: #181818;
  }
}

.divTable {
  display: table;
  width: 100%;
}

.divTableRow {
  display: table-row;
}

.divTableCell, .divTableHead {
  border: 1px solid #333;
  padding: 8px;
}

.divTableHeading {
  background-color: #333;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: #f4f4f4; /* Light background for the footer */
  color: #333; /* Footer text color */
  border-top: 1px solid #ddd; /* Adds a subtle border at the top */
  width: 100%; /* Ensures the footer spans the entire page width */
  font-size: 1rem; /* Adjusts the font size for readability */
  text-align: center; /* Ensures text is centered */
  position: relative; /* Ensures proper placement */
}

footer a {
  color: inherit; /* Ensures link colors inside the footer inherit the footer color */
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  text-decoration: underline;
  color: #1a73e8; /* Changes link color on hover */
}