html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active{
  color: #b200f3;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #000;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #000;
	display: table-cell;
	padding: 1px 10px;
}
.divTableHeading {
	background-color: #000;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #000;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
